*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

#nav-bg{
	background-color: #204c44;
}

#sidebar{
	position: fixed;
    width: 10vw;
    height: 100vh;
}

#sidebar a{
    height: 31.2vh;
    line-height: 33vh;
    text-align: center;
    text-decoration: none;
    background-color: #343a40;
    color: #fff;
}

#sidebar a:hover {
    background-color: #fff;
    color: #204c44;
}

#content{
	margin-left: 10vw;
	margin-top: 56px;
	width: auto;
	position: relative;
	overflow: auto;
	z-index: 1;
}

@media (max-width: 767.98px) {

	#sidebar{
		display: none;
		width: 0;
	}

	#content{
	margin-left: 0;
	margin-top: 56px;
	}

}